<div class="container mt-5">
  <div class="row gap-4 m-3">
    <div
      class="col-md-3 d-flex flex-column rounded-3 shadow border p-4 gap-3 align-self-start align-items-start"
    >
      <div
        class="bg-light rounded-circle d-flex justify-content-center align-items-center mb-2"
        style="width: 80px; height: 80px; align-self: center"
      >
        <i class="bi bi-person fs-1"></i>
      </div>

      <h4 class="w-100 text-center">john_doe</h4>
      <span class="badge bg-light text-dark align-self-center mb-3">Role: user</span>

      <a
        class="cursor-pointer align-items-center justify-content-start w-100 gap-2 p-2 text-decoration-none text-dark rounded hover-gray"
        routerLink=""
      >
        <i class="bi bi-calendar"></i>
        Your events
      </a>
      <a
        class="cursor-pointer align-items-center justify-content-start w-100 gap-2 p-2 text-decoration-none text-dark rounded hover-gray"
        routerLink=""
      >
        <i class="bi bi-clock-history"></i>
        History
      </a>
      <a
        class="cursor-pointer mb-2 align-items-center justify-content-start w-100 gap-2 p-2 text-decoration-none text-dark rounded hover-gray"
        routerLink=""
      >
        <i class="bi bi-calendar"></i>
        Events Calendar
      </a>

      <div class="mt-2 small text-muted">Member since: January 15, 2024</div>

      <button
        class="btn btn-danger w-100 mt-3 d-flex align-items-center justify-content-center gap-2 w-100"
      >
        <i class="bi bi-trash"></i>
        Delete account
      </button>
            <button
        class="btn btn-secondary w-100 mt-3 d-flex align-items-center justify-content-center gap-2 w-100"
      >
        Sign Out
      </button>
    </div>

    <div class="col-md d-flex flex-column gap-4">
      <div class="nav nav-pills nav-fill gap-2 p-1 bg-light rounded shadow-md">
        <button
          class="nav-link text-dark"
          [class.active]="activeTab === 'profile'"
          (click)="setActiveTab('profile')"
        >
          Profile
        </button>
        <button
          class="nav-link text-dark"
          [class.active]="activeTab === 'liked'"
          (click)="setActiveTab('liked')"
        >
          Liked
        </button>
        <button
          class="nav-link text-dark"
          [class.active]="activeTab === 'wishlist'"
          (click)="setActiveTab('wishlist')"
        >
          Wishlist
        </button>
        <button
          class="nav-link text-dark"
          [class.active]="activeTab === 'interests'"
          (click)="setActiveTab('interests')"
        >
          Interests
        </button>
      </div>

      <div class="p-4 rounded-3 shadow border">
        @if (activeTab === 'profile') {
          <h5>Account Settings</h5>
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input class="form-control" value="john_doe" />
          </div>

          <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" value="john.doe@example.com" />
          </div>

          <button class="btn btn-success px-4 mb-4">Save Changes</button>

          <hr />

          <h5>Change Password</h5>

          <div class="mb-3">
            <label class="form-label">Current Password</label>
            <div class="input-group">
              <input [type]="showCurrentPassword ? 'text' : 'password'" class="form-control" />
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="showCurrentPassword = !showCurrentPassword"
              >
                <i
                  class="bi"
                  [class.bi-eye]="showCurrentPassword"
                  [class.bi-eye-slash]="!showCurrentPassword"
                ></i>
              </button>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">New Password</label>
            <div class="input-group">
              <input [type]="showNewPassword ? 'text' : 'password'" class="form-control" />
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="showNewPassword = !showNewPassword"
              >
                <i
                  class="bi"
                  [class.bi-eye]="showNewPassword"
                  [class.bi-eye-slash]="!showNewPassword"
                ></i>
              </button>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Confirm New Password</label>
            <div class="input-group">
              <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" />
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="showConfirmPassword = !showConfirmPassword"
              >
                <i
                  class="bi"
                  [class.bi-eye]="showConfirmPassword"
                  [class.bi-eye-slash]="!showConfirmPassword"
                ></i>
              </button>
            </div>
          </div>

          <button class="btn btn-secondary">Change Password</button>
        }

        @if (activeTab === 'liked') {
          <div class="d-flex justify-items-start align-items-center gap-2">
            <i class="bi bi-heart text-danger"></i>
            <strong>Liked Events</strong>
            <span>2</span>
          </div>

          <a routerLink="/event-page/1" class="text-decoration-none text-dark ">
            <div class="container d-flex flex-column gap-2 align-items-center mt-2 hover-gray">
              <div
                class="container d-flex gap-2 justify-content-start align-items-center border-1 rounded-3 shadow-sm gap-2"
              >
                <img
                  src="./assets/images/football.jpg"
                  style="height: 80px; width: 128px"
                  class="rounded-3 over object-fit-cover"
                />

                <span
                  class="badge position-absolute top-0 start-0 m-3 bg-success rounded-pill px-3"
                >
                  Sports
                </span>

                <div class="container d-flex flex-column align-items-start">
                  <h4 class="fw-bold">Marathon 2026</h4>
                  <div class="d-flex gap-2">
                    <div class="d-flex align-items-center justify-content-start gap-2">
                      <i class="bi bi-calendar text-secondary"></i>
                      Sep 15, 2026
                    </div>
                    <div class="d-flex align-items-center justify-content-start gap-2">
                      <i class="bi bi-clock text-secondary"></i>
                      Sep 15, 2026
                    </div>
                    <div class="d-flex align-items-center justify-content-start gap-2">
                      <i class="bi bi-geo-alt-fill text-secondary"></i>
                      Sep 15, 2026
                    </div>
                  </div>
                  <span class="fs-3 text-success mt-1">$50</span>
                </div>
              </div>
            </div>
          </a>
        }

        @if (activeTab === 'wishlist') {
          <div class="d-flex justify-items-start align-items-center gap-2">
            <i class="bi bi-bookmark text-success"></i>
            <strong>Wishlist</strong>
            <span>2</span>
          </div>

          <a routerLink="/event-page/1" class="text-decoration-none text-dark">
            <div class="container d-flex flex-column gap-2 align-items-center  mt-2">
              <div
                class="container d-flex gap-2 justify-content-start align-items-center border-1 rounded-3 shadow-sm gap-2 hover-gray"
              >
                <img
                  src="./assets/images/football.jpg"
                  style="height: 80px; width: 128px"
                  class="rounded-3 over object-fit-cover"
                />

                <span
                  class="badge position-absolute top-0 start-0 m-3 bg-success rounded-pill px-3"
                >
                  Sports
                </span>

                <div class="container d-flex flex-column align-items-start">
                  <h4 class="fw-bold">Marathon 2026</h4>
                  <div class="d-flex gap-2">
                    <div class="d-flex align-items-center justify-content-start gap-2">
                      <i class="bi bi-calendar text-secondary"></i>
                      Sep 15, 2026
                    </div>
                    <div class="d-flex align-items-center justify-content-start gap-2">
                      <i class="bi bi-clock text-secondary"></i>
                      Sep 15, 2026
                    </div>
                    <div class="d-flex align-items-center justify-content-start gap-2">
                      <i class="bi bi-geo-alt-fill text-secondary"></i>
                      Sep 15, 2026
                    </div>
                  </div>
                  <span class="fs-3 text-success mt-1">$50</span>
                </div>
              </div>
            </div>
          </a>
        }

        @if (activeTab === 'interests') {
          <div class="p-4 rounded-3 shadow border bg-white">
            <h5>I am interested in:</h5>
            <p class="text-muted small">Select tags to personalize your event recommendations.</p>

            <div class="d-flex flex-wrap gap-2 mb-4">
              @for (tag of tags; track tag.name) {
                <button
                  (click)="toggleTag(tag)"
                  [class]="
                    tag.selected
                      ? 'btn btn-lg btn-success rounded-pill'
                      : 'btn btn-lg btn-outline-secondary rounded-pill '
                  "
                  class="px-3 py-1 border-1"
                >
                  {{ tag.name }}
                </button>
              }
            </div>

            <hr />

            <div class="d-flex justify-content-between align-items-center">
              <span class="text-muted small">{{ selectedCount }} tags selected</span>
              <button class="btn btn-light btn-sm border" (click)="resetTags()">Reset tags</button>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
